{
    "singleQuote": true,
    "editor.formatOnSave": true,
    "proseWrap": "always",
    "printWidth": 120,
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true
}