@mixin body {
    font-family: $paragraphs;
    font-weight: $weight-m;
    color: $primary-paragraph-color;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@mixin a {
    font-family: $paragraphs;
    font-weight: $weight-m;
    color: $a-color;
}

@mixin a-hover {
    color: $a-color-hover;
}
