<h1>Test Title</h1>
<p>test paragraph</p>

<!-- Button Types -->
<app-action-button [btnType]="'primary'" [label]="'primary btn label'"></app-action-button>
<app-action-button [btnType]="'secondary'" [label]="'secondary btn label'"></app-action-button>
<app-action-button [btnType]="'text'" [label]="'text btn label'"></app-action-button>

<!-- Link Types -->
<app-link-button [link]="'/some-route'" [label]="'Standard link label'"></app-link-button>
<app-link-button [linkStyle]="'menu'" [link]="'/some-route'" [label]="'home'"></app-link-button>
<app-link-button [linkStyle]="'underlined'" [link]="'/some-route'" [label]="'Underlined Link label'"></app-link-button>
<app-link-button
    [linkStyle]="'underlined-grey'"
    [link]="'/some-route'"
    [label]="'Underlined grey Link label'"
></app-link-button>

<router-outlet></router-outlet>
