// @import 'variables';
@import '/src/scss/utils/variables';
@import '/src/scss/utils/placeholders';

.primary-btn {
    @extend %btn;

    background-color: $purple;
    color: $white;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 1em 0;
    margin: 0 auto;

    &:hover {
        background-color: $dark-purple;
    }

    &:focus {
        border-color: $purple;
        outline: 0;
        box-shadow: 0px 0px 3px $purple;
        background-color: $dark-purple;
    }
}

.secondary-btn {
    @extend %btn;

    background-color: $medium-grey;
    padding: 1em 0;
    margin: 0 auto;

    &:hover {
        background-color: $dark-grey;
    }

    &:focus {
        border-color: $dark-grey;
        outline: 0;
        box-shadow: 0px 0px 3px $dark-grey;
        background-color: $dark-grey;
    }
}

.text-btn {
    @extend %btn;

    cursor: pointer;
    background-color: transparent;
    display: table;

    &__link {
        font-size: 0.85em;
        color: $secondary-paragraph-color;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        padding-bottom: 0.6em;
        border-bottom: 2px solid $black;

        &:hover {
            color: $secondary-paragraph-color;
        }

        &:focus {
            border-color: $black;
            outline: 0;
            box-shadow: none;
        }
    }

    &__arrow {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 8px solid $black;
        margin: 1.2em auto 0 auto;
    }
}
